{% extends 'public/base.html.twig' %}

{% block contentAdmin %}
    <div class="admin">
        <div class="row">
            <div class="titleAdmin">
                <h1 class="titlePage text-info">'S'informer' - Liste des liens</h1>
                <a href="{{ path('admin') }}" class="btn_admin btn btn-info pull-right">Accueil Administration</a>
            </div>
        </div>
        <hr/>

        <div class="row">
            <a href="{{ path('public_inform_menu_new') }}" class="btn_admin btn btn-success">Créer un nouveau lien</a>
        </div>
        <hr/>

        <div class="row">
            <ul class="listAdmin">
                {% for informMenu in informMenus %}
                    <li>
                        <div class="row">
                                {{ informMenu.title }}
                        </div>
                        <div class="row">
                            <div class="col-xs-2">
                                <img src="{{ asset('uploads/' ~ informMenu.imageName) }}"
                                     class="img-responsive img-thumbnail vignetteList">
                            </div>
                            <div class="col-xs-3 pull-right">
                                <p class="date">{{ informMenu.getFormatedUploadDate }}</p>
                            </div>
                        </div>

                    </li>
                    <a href="{{ path('admin_inform_menu_edit', { 'id': informMenu.id }) }}"
                       class="btn_admin btn btn-warning pull-right">Modifier</a>
                    <hr/>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
