{% extends 'admin/layoutAdmin.html.twig' %}

{% block pageContent %}
    <div class="panel panel-default admin">
        <div class="panel-heading">
            <h1 class="panel-title text-info text-center">Ressource - Liste des ressources</h1>
        </div>
        <div class="panel-body">
            <div class="row">
                <a href="{{ path('home_admin') }}" class="btn_admin btn btn-default pull-right">
                    <span class="glyphicon glyphicon-chevron-left"></span> Accueil Administration
                </a>
            </div>
            <div class="row">
                <a href="{{ path('admin_resource_new') }}" class="btn_admin btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> Ajouter une nouvelle ressource
                </a>
            </div>
            <hr/>
            {% include 'flashMessageTemplate.html.twig' with {
                'glyphiconType': 'glyphicon-ok',
                'alertType': 'success',
                'alertStyle': 'alert-success',
            } %}
            <div class="row">
                <div class="listAdmin">
                    {% for resource in resources %}
                        <div class="row">
                            <p>{{ resource.title|upper }}</p>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                <p>{{ resource.description }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <a href="{{ path('admin_resource_edit', { 'id': resource.id }) }}"
                                   class="btn_admin btn btn-default pull-right">
                                    <span class="glyphicon glyphicon-edit"></span> Modifier
                                </a>
                            </div>
                        </div>
                        <hr/>
                    {% endfor %}
                    <div class="row">
                        <a href="{{ path('home_admin') }}" class="btn_admin btn btn-default">
                            <span class="glyphicon glyphicon-chevron-left"></span> Accueil Administration
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
