<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="author" content="WildCodeSchool">
    <title>{% block title %}Resteatable{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('build/global.css') }}" rel="stylesheet" type="text/css"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} text-center">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
{% block layout %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/vendor.js') }}"></script>
{% endblock %}
</body>
</html>
