<nav class="navbar-fixed cssmenu">
    <ul>
        <a href='{{ path('home') }}' class="home center-block">
            <span><img src="{{ asset('images/icons/icon_home.svg') }}" class="icon_home"/></span>
        </a>
        <a href='{{ path('home') }}' class="center-block">
            <div class="textHome">Accueil</div>
        </a>
        <li class="top has-sub">
            <a href='#one'>
                <img src="{{ 'http://via.placeholder.com/80x80' }}" class="img-circle center-block"/>
                <div class="text">S'informer</div>
            </a>
        </li>
        <li class="middle has-sub">
            <a href='#two'>
                <span><img src="{{ 'http://via.placeholder.com/80x80' }}" class="img-circle center-block"/></span>
                <div class="text">S'entraîner</div>
            </a>
        </li>
        <li class="last has-sub">
            <a href="#three">
                <span><img src="{{ 'http://via.placeholder.com/80x80' }}" class="img-circle center-block"/></span>
                <div class="text">Faire des défis</div>
            </a>
        </li>
        <li class="btnMenu"><a href="#" class="btn btn-default">Ressources</a></li>
        <li class="btnMenu"><a href="#" class="btn btn-default">Infos site</a></li>
    </ul>

    <ul id="one">
        <h3>S'informer</h3>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-6">
                <hr/>
            </div>
        </div>
        <h4><a href="{{ path('inform_menu_index') }}">Les infos</a></h4>
        <h5>Liens externes</h5>
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <hr/>
            </div>
        </div>
        {% for navInformLink in navInformLinks %}
            <li class="submenuText"><a href='{{ navInformLink.link }}' target="_blank">{{ navInformLink.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <ul id="two">
        <h3>S'entraîner</h3>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-6">
                <hr/>
            </div>
        </div>
        <h4><a href="{{ path('game_index') }}">Les jeux</a></h4>
        <h4><a href="{{ path('quiz_index') }}">Les quiz</a></h4>
        <h5>Liens externes</h5>
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <hr/>
            </div>
        </div>
        {% for navGameLink in navGameLinks %}
            <li class="submenuText"><a href='{{ navGameLink.link }}' target="_blank">{{ navGameLink.title }}</a></li>
        {% endfor %}
    </ul>
    <ul id="three">
        <h3>Faire des défis</h3>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-6">
                <hr/>
            </div>
        </div>
        <h4>Défis à faire :</h4>
        <li class="submenuText">
            <a href="{{ path('challenges_home_index') }}">Chez toi</a>
        </li>
        <li class="submenuText">
            <a href="{{ path('challenges_school_index') }}">Au collège/lycée</a>
        </li>
        <li class="submenuText">
            <a href="{{ path('challenges_organization_index') }}">Dans une structure, une association</a>
        </li>
    </ul>
</nav>