{% extends 'layout.html.twig' %}

{% block layout %}
    <h1>Resourcethemes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for resourceTheme in resourceThemes %}
            <tr>
                <td><a href="{{ path('resourcetheme_show', { 'id': resourceTheme.id }) }}">{{ resourceTheme.id }}</a></td>
                <td>{{ resourceTheme.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('resourcetheme_show', { 'id': resourceTheme.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('resourcetheme_edit', { 'id': resourceTheme.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('resourcetheme_new') }}">Create a new resourceTheme</a>
        </li>
    </ul>
{% endblock %}
