{% extends 'base.html.twig' %}

{% block body %}
    <h1>Answerchallenge</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ answerChallenge.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ answerChallenge.name }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ answerChallenge.title }}</td>
        </tr>
        <tr>
            <th>Message</th>
            <td>{{ answerChallenge.message }}</td>
        </tr>
        <tr>
            <th>Imagename</th>
            <td>{{ answerChallenge.imageName }}</td>
        </tr>
        <tr>
            <th>Updatedat</th>
            <td>{% if answerChallenge.updatedAt %}{{ answerChallenge.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('answerChallenge_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('answerChallenge_edit', { 'id': answerChallenge.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
