{% extends 'layout.html.twig' %}

{% block title %}Ressource | Rest' à table{% endblock %}

{% block topBar %}
    {% include 'topBar.html.twig' with {'colorBackground': 'colorBackground', 'title':'Ressources'} %}
{% endblock %}

{% block pageContent %}
    <section class="info-section-Resource">
        <div class="pageContent">
            <div class="row pageResource">
                <div class="containerMenuResource">
                    <ul class="blockInfo">
                        {% for resourceTheme in resourceThemes %}
                            <li>
                                <a href="{{ path('resources_by_theme', { 'id': resourceTheme.id }) }}" class="titleInfo">
                                    {{ resourceTheme.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="articles">
                    <ul>
                        {% for resource in resources %}
                            <li class="row">
                                <a href="{{ asset('uploads/' ~ resource.resourceName) }}" target="_blank">
                                <span class="title"><span class="glyphicon glyphicon-save"></span>
                                    {{ resource.title|upper }}</span>
                                </a>
                                <p class="pull-right date">
                                    {{ resource.uploadedAt|localizeddate('long', 'none') }}
                                </p>
                                <div class="row">
                                    <p class="description">{{ resource.description }}</p>
                                </div>
                            </li>
                            {{ not loop.last ? '<hr class="row"/>' }}
                            {% else %}
                                <h2 class="text-center">Il n'y a pas de ressources pour ce thème.</h2>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
