{% extends 'baseAdmin.html.twig' %}

{% block contentAdmin %}
    <div class="admin">
        <div class="row">
            <div class="titleAdmin">
                <h1 class="titlePage text-info">'S'entraîner' - Liste des liens</h1>
                <a href="{{ path('admin') }}" class="btn_admin btn btn-info pull-right">Accueil Administration</a>
            </div>
        </div>
        <hr/>

        <div class="row">
            <a href="{{ path('train_menu_new') }}" class="btn_admin btn btn-success">Créer un nouveau lien</a>
        </div>
        <hr/>

        <div class="row">
            <ul class="listAdmin">
                {% for trainMenu in trainMenus %}
                    <li>
                        <div class="row">
                            {{ trainMenu.title }}
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                <img src="{{ asset('uploads/' ~ trainMenu.imageName) }}"
                                     class="img-responsive img-thumbnail vignetteList">
                            </div>
                            <div class="col-xs-7">
                                <p class="pull-right link">{{ trainMenu.link }}</p>
                            </div>
                        </div>

                    </li>
                    <a href="{{ path('train_menu_edit', { 'id': trainMenu.id }) }}"
                       class="btn_admin btn btn-warning pull-right">Modifier</a>
                    <hr/>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
