{% extends 'admin/layoutAdmin.html.twig' %}

{% block pageContent %}

    <div class="panel panel-default admin">
        <div class="panel-heading">
            <h1 class="panel-title text-info text-center">S'entraîner - Liste des jeux</h1>
        </div>
        <div class="panel-body">
            <div class="row">
                <a href="{{ path('home_admin') }}" class="btn_admin btn btn-default pull-right">
                    Accueil Administration</a>
            </div>
            <div class="row">
                <a href="{{ path('game_new') }}" class="btn_admin btn btn-default">Ajouter un nouveau jeu</a>
            </div>
            <hr/>
            <div class="row">
                <ul class="listAdmin">
                    {% for game in games %}
                        <li>
                            <div class="row">
                                <p>{{ game.title }}</p>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <img src="{{ asset('uploads/' ~ game.imageName) }}"
                                         class="img-responsive img-thumbnail vignetteList">
                                </div>
                                <div class="col-xs-7">
                                    <p class="pull-right link">{{ game.link }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-8">
                                    <div class="group-form">
                                        <input type="checkbox" name="{{ game.id }}"
                                               id="checkbox-{{ game.id }}"
                                               class="checkboxMenu1" {{ game.isMenu ? "checked = 'checked'" }}>
                                        <label for="checkbox-{{ game.id }}">
                                            Cochez pour afficher le lien dans le menu
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <a href="{{ path('game_edit', { 'id': game.id }) }}"
                                       class="btn_admin btn btn-default pull-right">Modifier</a>
                                </div>
                            </div>
                        </li>
                        <hr/>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
