{% extends 'layout.html.twig' %}
{% block topBar %}
    {% include 'topBar.html.twig' with {'colorBackground': 'colorBackgroundMiddle', 'title': answer.QuizzQuestion.TitleQuizz.name} %}
{% endblock %}
{% block pageContent %}
    <div class="quizzSection{{ answer.QuizzQuestion.TitleQuizz.id }}">
        <div class="quizz">
            <div class="container-fluid">
                <div class="panel panel-primary">
                    <h1>R&#201;PONSE {{ answer.QuizzQuestion.questionNbr }}</h1>
                    <h2 class="panel-title  {{ answer.isTrue ? 'good' : 'false' }} center-block">
                        {{ answer.isTrue ? 'BONNE' : 'MAUVAISE' }}
                        R&#201;PONSE
                    </h2>
                    <div class="panel-body">
                        {{ answer.quizzQuestion.tip }}
                    </div>
                {% if answer.QuizzQuestion.questionNbr < nbrMax %}
                    <a href="{{ path('quizTest', {'id' : answer.quizzQuestion.titleQuizz.id, 'questionNbr' : answer.quizzQuestion.questionNbr +  1} ) }}"
                       class="btn btn-success">Question suivante</a>
                {% else %}
                    <a href="{{ path('quizzResultat', {'id' : answer.quizzQuestion.titleQuizz.id, 'nbrMax' : nbrMax}) }}"
                       class="btn btn-success">Résultat</a>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}