{% extends 'layout.html.twig' %}
{% block topBar %}
    {% include 'topBar.html.twig' with {'colorBackground': 'colorBackgroundMiddle', 'title': answer.QuizzQuestion.TitleQuizz.name} %}
{% endblock %}
{% block pageContent %}
    <div class="quizzSection{{ answer.QuizzQuestion.TitleQuizz.id }}">
        <div class="quizz">
            <div class="container-fluid">
                <div class="panel panel-primary">
                    <h2><b>R&#201;PONSE {{ answer.QuizzQuestion.questionNbr }}</b></h2>
                    <div class="row">
                        <div class="col-md-offset-3 col-md-6">
                            <h3 class="panel-title  {{ answer.isTrue ? 'good' : 'false' }}">
                                {{ answer.isTrue ? 'BONNE' : 'MAUVAISE' }}
                                R&#201;PONSE
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-body">
                            {{ answer.quizzQuestion.tip }}
                        </div>
                    </div>
                    <a href="{{ path('quizTest', {'id' : answer.quizzQuestion.titleQuizz.id, 'questionNbr' : answer.quizzQuestion.questionNbr +  1} ) }}"
                       class="btn btn-success">Question suivante</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}