{% extends 'layout.html.twig' %}
{% block topBar %}
    {% include 'topBar.html.twig' with {'colorBackground': 'colorBackgroundMiddle', 'title': question.TitleQuizz.name} %}
{% endblock %}
{% block pageContent %}
    <div class="quizzSection{{ question.titleQuizz.id }}">
        <div class="quizz">
            <div class="panel panel-info">
                <h1>QUESTION {{ question.questionNbr }}<span>/{{ nbrMax }}</span></h1>
                <h2 class="panel-title">{{ question.title }}</h2>
                <div class="panel-body">
                    <form method="POST"
                          action="{{ path('quizzAnswer', {'quizzTitle' : quizzTitle,'nbrMax': nbrMax, 'questionNbr' : question.questionNbr}) }}">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <img src="{{ asset(question.imgQuizz) }}"
                                             alt="image {{ question.titleQuizz.name }}">
                                    </div>
                                    {% for answer in question.quizzAnswers %}
                                        <div class="col-md-6">
                                            <div class="answer">
                                            <input type="radio" value="{{ answer.id }}" name="answer" required>
                                            {{ answer.choice }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <button type="submit" name="submit">Valider ma réponse</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}