{% extends 'baseAdmin.html.twig' %}

{% block contentAdmin %}
    <div class="admin">
        <div class="row">
            <div class="titleAdmin">
                <h1 class="titlePage text-info">'S'informer' - Liste des liens</h1>
                <a href="{{ path('admin') }}" class="btn_admin btn btn-info pull-right">Accueil Administration</a>
            </div>
        </div>
        <hr/>

        <div class="row">
            <a href="{{ path('inform_menu_new') }}" class="btn_admin btn btn-success">Créer un nouveau lien</a>
        </div>
        <hr/>

        <div class="row">
            <ul class="listAdmin">
                {% for informMenu in informMenus %}
                    <li>{{ informMenu.title }} <p class="pull-right">{{ informMenu.link }}</p></li>
                    <a href="{{ path('inform_menu_edit', { 'id': informMenu.id }) }}" class="btn_admin btn btn-warning pull-right">Modifier</a>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
