{% extends 'layout.html.twig' %}

{% block title %}S'informer | Rest' à table{% endblock %}

{% block topBar %}
    {% include 'topBar.html.twig' with {'colorBackground': 'colorBackgroundTop', 'title':'Les infos'} %}
{% endblock %}

{% block pageContent %}
    <section class="informAndGame-index-sections">
        <div class="pageContent">
            <ul>
                {% for informMenu in informMenus %}
                    <li class="row">
                        <div class="col-xs-offset-1 col-xs-10">
                            <div class="row">
                                <div class="col-xs-3 vignetteContainer">
                                    <img src="{{ asset('uploads/' ~ informMenu.imageName) }}"
                                         class="img-responsive img-thumbnail vignette">
                                </div>
                                <div class="col-xs-9">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <p class="type informType">{{ informMenu.type }}</p>
                                        </div>
                                        <div class="col-xs-3 pull-right">
                                            <p class="date">{{ informMenu.uploadedAt|localizeddate('long', 'none') }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h2>
                                            <a class="informLink" href="{{ informMenu.link }}"
                                               target="_blank">{{ informMenu.title }}
                                                <span class="glyphicon glyphicon-new-window"></span>
                                            </a>
                                        </h2>
                                    </div>
                                    <div class="row">
                                        <p class="col-xs-6 summary">{{ informMenu.summary | nl2br }}</p>
                                    </div>
                                </div>
                            </div>
                            {{ not loop.last ? '<hr class="row"/>' }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
