{% extends 'admin/layoutAdmin.html.twig' %}
{% block flashMessage %}{% endblock %}

{% block pageContent %}

    <div class="panel panel-default admin">
        <div class="panel-heading">
            <h1 class="panel-title text-info text-center">S'informer - Modifier une information</h1>
        </div>
        <div class="panel-body">
            <div class="row">
                <a href="{{ path('admin_inform_menu_index') }}" class="btn_admin btn btn-default pull-right">
                    <span class="glyphicon glyphicon-chevron-left"></span> Retour à la liste
                </a>
            </div>
            <hr/>
            {{ block("flashMessage", "base.html.twig") }}
            <div class="row">
                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <button type="submit" class="btn_admin btn btn-default">
                    <span class="glyphicon glyphicon-ok"></span> Enregistrer les modifications
                </button>
                {{ form_end(edit_form) }}
                <img src="{{ asset('uploads/' ~ informMenu.imageName) }}"
                     class="img-responsive img-thumbnail center-block imgEdit">
            </div>
            <hr/>
            <div class="row">
                {{ form_start(delete_form) }}
                <button type="submit" class="btn_admin btn btn-default pull-right">
                    <span class="glyphicon glyphicon-trash"></span> Supprimer
                </button>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
