{% extends 'admin/layoutAdmin.html.twig' %}

{% block pageContent %}
    <div class="panel panel-default admin">
        <div class="panel-heading">
            <h1 class="panel-title text-info text-center">S'informer - Liste des liens infos</h1>
        </div>
        <div class="panel-body">
            <div class="row">
                <a href="{{ path('home_admin') }}" class="btn_admin btn btn-default pull-right">
                    <span class="glyphicon glyphicon-chevron-left"></span> Accueil Administration
                </a>
            </div>
            <div class="row">
                <a href="{{ path('admin_inform_menu_new') }}" class="btn_admin btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> Ajouter un nouveau lien
                </a>
            </div>
            <hr/>
            {% include 'flashMessages/success.html.twig' with {'glyphiconType': 'glyphicon-ok'} %}
            {% include 'flashMessages/error.html.twig' with {'glyphiconType': 'glyphicon-warning-sign'} %}
            <div class="row">
                <div class="listAdmin">
                    {% for informMenu in informMenus %}
                        <div class="row">
                            <p>{{ informMenu.title }}</p>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                <img src="{{ asset('uploads/' ~ informMenu.imageName) }}"
                                     class="img-responsive img-thumbnail vignetteList">
                            </div>
                            <div class="col-xs-7">
                                <p class="pull-right link">{{ informMenu.link }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8">
                                <a href="{{ path('inform_link_menu', {'id': informMenu.id}) }}" class="ckeckbox">
                                    {{ informMenu.isMenu ? 'Enlever le lien du menu' : 'Afficher le lien dans le menu' }}
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a href="{{ path('admin_inform_menu_edit', { 'id': informMenu.id }) }}"
                                   class="btn_admin btn btn-default pull-right">
                                    <span class="glyphicon glyphicon-edit"></span> Modifier
                                </a>
                            </div>
                        </div>
                        <hr/>
                    {% endfor %}
                    <div class="row">
                        <a href="{{ path('home_admin') }}" class="btn_admin btn btn-default">
                            <span class="glyphicon glyphicon-chevron-left"></span> Accueil Administration
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
